# -----------------------------------------------------------------------------
# Database 
# -----------------------------------------------------------------------------
DATABASE_URL=file:./dev.db

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
# Only for production  
# generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
## Only required for localhost
NEXTAUTH_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Providers (NextAuth.js)
# -----------------------------------------------------------------------------
# https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
